# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develo# Release filesp-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdis# Release filest/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/

# App specific
.organizer_history.json

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Release files
dist/
build/
release/
*.spec
Magisort_v1.0_Linux.zip