name: Build and Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install customtkinter pyinstaller darkdetect packaging

      - name: Build with PyInstaller (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          CTK_PATH=$(python -c 'import customtkinter; import os; print(os.path.dirname(customtkinter.__file__))')
          pyinstaller --noconsole --onefile --name "Magisort" --add-data "$CTK_PATH:customtkinter" desktop_app.py

      - name: Build with PyInstaller (Windows)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          $CTK_PATH = python -c "import customtkinter; import os; print(os.path.dirname(customtkinter.__file__))"
          pyinstaller --noconsole --onefile --name "Magisort" --add-data "${CTK_PATH};customtkinter" desktop_app.py

      - name: Rename binaries
        shell: bash
        run: |
          if [ "${{ matrix.os }}" == "windows-latest" ]; then
            mv dist/Magisort.exe dist/Magisort_Windows.exe
          else
            mv dist/Magisort dist/Magisort_Linux.bin
          fi

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            dist/Magisort_*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
